astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
#fake-rpi==0.2
flake8==3.8.3
idna==2.10
isort==5.5.3
jedi==0.17.2
#lazy-object-proxy==1.4.3
libusb1==1.8
mccabe==0.6.1
ndeflib==0.3.3
nfcpy==1.0.3
parso==0.7.1
pluggy==0.13.1
pycodestyle==2.6.0
pyDes==2.0.1
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.6.0
pyserial==3.4
#PySide2==5.15.1
python-dotenv==0.14.0
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
requests==2.24.0
rope==0.17.0
#RPi==0.3.0
#shiboken2==5.15.1
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.1
ujson==3.2.0
urllib3==1.25.10
wrapt==1.12.1
yapf==0.30.0
